*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
}
img{
	max-width:100%;
	vertical-align: middle;
}
ul, li {
	list-style-type: none;
	margin: 0;
	overflow: auto;
}
h2,h4{
	font-family: 'Lobster', cursive;
}
/*************************
	Header
*************************/
#header{
	position: absolute;
	width: 100%;
	z-index: 1000;
}
nav {
	background-color: rgba(50, 7, 97, 0);
	position: fixed;
	width: 100%;
	box-shadow: none;
}
nav .nav-wrapper{
	padding: 0 5%;
}
.logo img{
	width: 30%;
}
.menu ul {
	float: right;
}
.menu ul li{
	cursor: pointer;
	display: inline-block;
	padding: 0px 10px;
	color: #fff;
	font-size: 20px;
	font-family: 'Lobster', cursive;
}
.sliding-middle-out:hover:after{
	width: 100%;
    background: #f3371c;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    margin: -2px 0 0 0;
    transition: width .5s ease, background-color .5s ease;
}
.side-nav {
	background-color: rgba(4, 4, 4, 0.85);
	text-align: center;
}
nav ul a {
    display: inline;
    padding: 0;
}

/*************************
	Resent Used Cars
**************************/
#recent-cars{
	/*background: #f5f5f5;*/
}
#recent-cars h2,#recent-cars h4{
	text-align: center;
}
#recent-cars h2{
	padding: 40px 0 30px;
}
#recent-cars p{
	text-align: center;
}
#recent-cars p a,#recent-cars .view-all a{
	text-decoration: none;
}
#recent-cars .view-all{
	text-align: center;
	font-size: 16px;
	padding: 20px 0 50px;
}
#recent-cars .col-md-3{
	padding:0 15px;
}
#recent-cars .wrap{
	border: .5px solid rgb(210, 210, 210);
}
#recent-cars .wrap:hover{
	box-shadow: 0px 0px 10px #ccc;
}

/*************************
	TESTIMONIALS
*************************/
#testimonials{
    background: #f5f5f5;
}
#testimonials h2{
	text-align: center;
	padding-top: 10px;
    padding-bottom: 20px;
}
.testimonial-pic{
	display: inline-block;
}
.testimonial-content{
	display: inline-block;
}
#testimonials .view-all a{
	text-decoration: none; 
}
#testimonials .view-all{
	text-align: center;
	padding-top: 30px;
}
#testimonials .container{
    padding-bottom: 50px;
    padding-top: 30px;
}
/*****OWL CAROUSEL*******/
#testimonials .owl-theme .owl-controls {
    position: absolute;
    left: 0;
    right: 0;
    top: 75px;
    margin: auto;
}
#testimonials .owl-buttons {
    text-align: center;
}
#testimonials .owl-theme .owl-controls .owl-buttons div {
    padding: 10px;
    margin: 10px;
    border-radius: 0px;
}
#testimonials .owl-next{
	float: right;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 50%;
}
#testimonials .owl-prev{
	float: left;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 50%;
}
#testimonials .owl-stage {
    right: 67px;
}
#testimonials .owl-item{
    width: 860px;
}


/*************************
	POPULAR CARS
*************************/
#popular-cars{
	background-color: #fff;
}
#popular-cars .col-md-3 {
    padding: 0 15px;
}
#popular-cars img{
	padding: 0 5px;
}
#popular-cars h2{
	text-align: center;
	padding: 40px 0 30px;
}
#popular-cars .contant-wrap{
	padding-left: 15px;
}
#popular-cars .price{
	font-size: 24px;
}
#popular-cars .wrap{
	border: .5px solid rgb(210, 210, 210);
}
#popular-cars p a,#popular-cars .view-all a{
	text-decoration: none;
}
#popular-cars .wrap:hover{
	box-shadow: 0px 0px 10px #ccc;
}
#popular-cars .view-all{
	text-align: center;
	font-size: 16px;
	padding: 20px 0 50px;
}

/*************************
	CONTACT, About
*************************/
#footer-contact{
    background:#383636;
}
#footer-contact .container{
	padding: 50px 0;
}
#footer-contact .about{
	text-align: center;
}
#footer-contact .about,#footer-contact .contact{
	display: inline-block;
	color: #fff;
}
#footer-contact .about p{
    padding-top: 20px;
    padding-bottom: 16px;
}
.contact .address{
	color: #FFF;
    line-height: 1.8em;
    padding-left: 3em;
    margin: 2em 0 0 0;
    background: url(../images/location.png) no-repeat 0px 10px;
}
.contact .address span{
	display: block;
}
.contact .mobile{
	color: #FFF;
    line-height: 1.8em;
    padding-left: 3em;
    margin: 2em 0 0 0;
    background: url(../images/phone.png) no-repeat 0px 0px;
}
.contact{
	float: right;
}
.contact .email{
	color: #FFF;
    line-height: 1.8em;
    padding-left: 3em;
    margin: 2em 0 0 0;
    background: url(../images/envelope.png) no-repeat 0px 0px;
}
.social-icons {	
	text-align: center;
}
.social-icons .align{
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.social-icons .icon{
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 10px;
}
.social-icons .fb:hover{
    background: #3865a4;
}
.social-icons .tw:hover{
    background: #1dadea;
}
.social-icons .g:hover{
    background: #db4c3f;
}
.subscribe input[type="email"] {
    width: 90%;
    background: none;
    outline: none;
    font-size: 16px;
    padding: .5em;
    padding-top: 12px;
    margin-bottom: 2em;
    -webkit-appearance: none;
    border-bottom: solid 1px #595959;
    border-top: none;
    border-right: none;
    border-left: none;
}
.subscribe input[type="submit"] {
    border: none;
    outline: none;
    color: #FFF;
    padding: .5em 1.5em;
    font-size: 16px;
    margin: 0.5em 0 0 0;
    float: left; 
    -webkit-appearance: none;
    background: #3b5998;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.subscribe{
	color: #fff;
}

/*************************
	Footer
*************************/
#footer{
    text-align: center;
    padding: 15px 0;
    color: #fff;
    background-color: #312f2f;
    font-size: 16px;
}